# Arquivos de ambiente
.env

# Uploads enviados pelos usuários
/uploads/*
!/uploads/.gitkeep
!/uploads/jogos/
!/uploads/jogos/.gitkeep

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações locais do VSCode 
.vscode/settings.json

# Logs do sistema
/logs/*.log
!/logs/.gitkeep

/vendor/

/config/gemini.php